.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 32rem;
    border-radius: 0.8rem;
}

.card p{
    font-size: 2rem;
}

@media only screen and (max-width: 1050px){
    :root{
        font-size: 8px !important;
    }
}