.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 32rem;
    border-radius: 0.8rem;
}

.card p{
    font-size: 2rem;
}

@media screen and (max-width : 775px) {
    .card{
        height: 8rem;
        width: 24rem;
    }
}

@media screen and (max-width : 775px) {
    .card{
        height: 5rem;
        width: 16rem;
    }
}